.list-card {
  list-style-type: none;
  margin-right: 15px;
  margin-top: 15px;
  border: none;
}

.active-thumb-btn {
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.thumb-btn {
  opacity: 0.5;
}
.s-image {
  border-radius: 5px;
}
